<footer class="page-footer font-small blue pt-4">


    <div class="container-fluid text-center text-md-left">


        <div class="row">



            <a href="#" class="col-6 col-md-3 text-reset text-uppercasee d-flex align-items-center justify-content-center text-decoration-none mb-3 mb-md-0">
                <img src="https://www.cieasypal.com/sites/default/files/styles/large/public/ESCUDO%20UNC%202.png?itok=BUJ5UH1A" alt="" class="img-logo mr-2 me-3"> Leopoldo Zelada Zelada
            </a>

            <div class="col-md-3 mt-md-0 mt-3">


                <h5 class="text-uppercase">Footer Content</h5>
                <p>Universidad Nacional de Cajamarca </p>
                <p>Facultad de Ingeniería </p>
                <p>Escuela de Ingeniería de Sistemas</p>
            </div>


            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">


                <h5 class="text-uppercase">Informacion</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">JR. Calcedonias N° 2060</a>
                    </li>
                    <li>
                        <a href="#!">Lima - peru </a>
                    </li>
                    <li>
                        <a href="#!">984643730</a>
                    </li>

                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">

                <h5>Redes Sociales</h5>
                <li>

                    <a href="https://www.facebook.com/leopoldo.zeladazelada"> facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/leopoldozeladazelada/?hl=es">instagram</a>

                </li>

                <li>

                    <a href="https://github.com/leoEAPIS">github</a>
                </li>


            </div>


        </div>


    </div>

    <div class="footer-copyright text-center py-3">
        <p>© 2021 Copyright: Todos los derechos reservados a <a href="http://127.0.0.1:5501/index.html"> leopoldozelada.github.io</a></p>
    </div>
</footer>