<button type="button" class="btn btn-primary" (click)="show=!show">PERU/PAIS COMPONENT</button>
<br>
<br>

<table class="table table-dark" *ngIf="show">

    <thead>
        <tr>
            <th scope="col">CÓDIGO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">POBLACIÓN</th>
            <th scope="col">CONTINENTE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of datapais">
            <td>{{pais.ccn3}}</td>
            <td>{{pais.name.official}}</td>
            <td>{{pais.population}}</td>
            <td>{{pais.region}}</td>
        </tr>
    </tbody>

</table>